{% extends "base.html" %}

{% load humanize %}

{% block js-css-add %}
</style>
<script type='text/javascript' src='/media/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='/media/js/localization/messages_ru.js'></script>
<script type='text/javascript' src='/media/js/jquery.maskedinput-1.3.min.js'></script>
<script type='text/javascript' src='/media/js/zip.js'></script>
<script type="text/javascript">
$(document).ready(function(){
  $('form input, form select').focus(function(){
    $(this).prev().css('fontWeight', 'bold');
  });
  $('form input, form select').blur(function(){
    $(this).prev().css('fontWeight', 'normal');
  });
  $('#id_email').focus();
  $('.register').validate({
    rules : {
      email: {
        required: true,
        email: true
      },
      first_name: {
        required: true
      },
      last_name: {
        required: true
      },
      city: {
        required: true
      },
      street: {
        required: true
      },
      house: {
        required: true
      }
    }
  });
  $('#id_phone').mask('+7 (999) 999-9999', {placeholder:'*'});

  $('#bExit').bind('click', function(){
    document.location.href='/accounts/logout/'
  });
  $('#chProfile').bind('click', function(){
    $('#dProfile').dialog({
      width: 500,
      buttons: {
        'Сохранить изменения': function(){$(this).submit()},
        'Отмена': function(){$(this).dialog('close')}
        }
      });
  });
  $('.bAddress').bind('click', function(){
    var id = $(this).attr('par');
    $('#dAddress_{0}'.format(id)).dialog({
      width: 500,
      buttons: {
        'Сохранить изменения': function(){$(this).submit()},
        'Отмена': function(){$(this).dialog('close')}
        }
    });
  });

  $('#id_zip').mask('999999', {placeholder:'*'});
  $('#id_zip').bind('keyup', function(){
    var zip = parseInt($(this).attr('value'));
    if (zip > 99999) {
      $.ajax({
        type: 'GET',
        url: 'http://zip.wab-net.ru/zipp/'+zip+'/',
        dataType: 'jsonp',
        jsonpCallback: 'successCallback',
        success: function(data){
          var subject = data.zip.subject;
          for (var s in subject) {
            $('#id_subject').attr('value', '{0} {1}'.format(subject[s].socr, subject[s].name));
            var county = subject[s].county;
            for (var c in county) {
              if (c != 0) {
                $('#id_county').attr('value', '{0} {1}'.format(county[c].socr, county[c].name)).attr('disabled', '').prev().css('color', 'black');
              } else {
                $('#id_county').attr('value', '').attr('disabled', 'yes').prev().css('color', '#999');
              }
              var city = county[c].city;
              for (var ci in city) {
                if (ci != 0) {
                  $('#id_city').attr('value', '{0} {1}'.format(city[ci].socr, city[ci].name)).attr('disabled', '').prev().css('color', 'black');
                } else {
                  $('#id_city').attr('value', '').attr('disabled', 'yes').prev().css('color', '#999');
                }
                var place = city[ci].place; gPlace = place;
                var countPlace = 0;
                var places = new Array();
                for (var p in place) {
                  if(p > 0){
                    countPlace += 1;
                    places.push('{0} {1}'.format(place[p].socr, place[p].name));
                  }
                }
                $('#id_place').autocomplete({source: places}).attr('disabled', '').prev().css('color', 'black');
                if (countPlace == 0) {
                  $('#id_place').attr('value', '').attr('disabled', 'yes').prev().css('color', '#999');
                }
                var street = place['0'].street;
                var streets = new Array();
                for (var st in street) {
                  streets.push('{0} {1}'.format(street[st].socr, street[st].name));
                }
                $('#id_street').autocomplete({source: streets, minLength: 2});
              }
            }
          }
        }
      });
    } else {
      $('form input').attr('disabled', '').prev().css('color', 'black');
    }
  });
  $('#id_place').bind('change', function(){
    var place = $('#id_place').attr('value');
    if (place == '') {
      var streets = new Array();
      var street = gPlace['0'].street;
      for(var s in street) {
        streets.push('{0} {1}'.format(street[s].socr, street[s].name));
      }
      $('#id_street').autocomplete('destroy');
      $('#id_street').autocomplete({source: streets, minLength: 2});
      return true;
    }
    for (var p in gPlace) {
      var teststr = '{0} {1}'.format(gPlace[p].socr, gPlace[p].name);
      if (place == teststr) {
        var streets = new Array();
        var street = gPlace[p].street;
        for(var s in street) {
          streets.push('{0} {1}'.format(street[s].socr, street[s].name));
        }
        $('#id_street').autocomplete('destroy');
        $('#id_street').autocomplete({source: streets, minLength: 2});
        break;
      } else {
        $('#id_street').autocomplete('destroy');
      }
    }
  });

})

</script>
{% endblock %}


{% block title %} Личный кабинет пользователя {{user.get_full_name}}
{% endblock %}

{% load markup %}

{% block content %}
<div class='grid_24'>
<br/>

<div class='grid_12 alpha'>
  {% if not orders %}
  <h4>У Вас пока нет заказов</h4>
  {% else %}
  <h4>Список Ваших заказов</h4>
  <table class='checkout'>
  <tr>
  <th>Номер</th>
  <th>Дата</th>
  <th>Сумма</th>
  <th>Статус</th>
  <th>Детали&hellip;</th>
  </tr>
  {% for order in orders %}
  <tr>
  <td><b>№ {{order.id}}</b></td>
  <td>{{order.datetime|date:"d b Y" }}</td> 
  <td>{{order.totalcost|intcomma}} р.</td>
  <td>{{order.status.status.title}}</td>
  <td><a href='/accounts/order/{{order.id}}/'>Смотреть Заказ</a></td>
  </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>
<div class='grid_1'>
&nbsp;
</div>
<div class='grid_11 omega'>
  <h4>Общие данные</h4>
  <p>
  {{user.last_name}} {{user.first_name}} {{profile.middlename}} <br/>
  {{user.email}}<br/>
  {{profile.phone}}<br/>
  <p>
  <input type='button' value='Изменить' id='chProfile'/>
  </p>
  </p>
  <hr/>
  <h4>Адрес доставки</h4>
  {% for adds in address %}
  <p>
  {{adds}}
  </p>
  <form class='register nodisplay' id='dAddress_{{adds.id}}' action='.' method='post'>
    {% csrf_token %}
    {{addressform.as_p}}
  </form>
  <p>
  <input type='button' value='Изменить' id='chAddress_{{adds.id}}' class='bAddress' par='{{adds.id}}'/>
  </p>
  {% endfor %}
  <hr/>
  <p>
  <input type='button' value='Выход из личного кабинета' id='bExit'/>
  </p>
</div>

</div>

<form class='register nodisplay' id='dProfile' action='.' method='post'>
  {% csrf_token %}
  <p><label for="id_last_name">Фамилия:</label> <input id="id_last_name" type="text" name="last_name" maxlength="30" value="{{user.last_name}}" /></p>
  <p><label for="id_first_name">Имя:</label> <input id="id_first_name" type="text" name="first_name" maxlength="30" value="{{user.first_name}}" /></p>
  <p><label for="id_middlename">Отчество:</label> <input id="id_middlename" type="text" name="middlename" maxlength="255" value="{{profile.middlename}}" /></p>
  <p><label for="id_phone">Номер телефона:</label> <input id="id_phone" type="text" name="phone" maxlength="17" value="{{profile.phone}}" /></p>                   
</form>

{% endblock %}
